@use "./mixins.scss";
@use "./transition.scss";

:root {
  --wb-width: 998px;
  --wb-height: 499px;
  --swal-background: radial-gradient(rgb(57, 57, 57), rgb(0, 0, 0));
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  line-height: 1.2;
  font-size: 12px;
  overflow: hidden;
}

a {
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    // 增强对比度 不改变颜色
    filter: brightness(1.2);
  }
}

span {
  vertical-align: middle;
}

// 文本坚排
.text-vertical {
  writing-mode: vertical-lr;
}
