@mixin flex($direction: row, $alignItems: normal, $justifyContent: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clamp($rows: 1, $lineHeight: 1.2) {
  display: -webkit-box;
  overflow: hidden;
  line-height: $lineHeight;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
}

@mixin scrollbar($size: 6px) {
  overflow: auto;
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    background: rgba(165, 165, 165, 0.1);
    &-thumb {
      border-radius: 5px;
      background-color: #dcdee5;
    }
  }
}
