.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease-in;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fadeTopIn-enter-active,
.fadeTopIn-leave-active {
  transition:
    opacity 1s,
    transform 0.5s ease-in;
  transform: translateY(0);
}

.fadeTopIn-enter-from,
.fadeTopIn-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.fadeLeftIn-enter-active,
.fadeLeftIn-leave-active {
  transition:
    opacity 1s,
    transform 0.5s ease-in;
  transform: translateX(0);
}

.fadeLeftIn-enter-from,
.fadeLeftIn-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.cameraIn-enter-active,
.cameraIn-leave-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 0.4s ease;
}

.cameraIn-enter-from,
.cameraIn-leave-to {
  opacity: 0;
  transform: scale(0.4) translateY(20px);
}
